.wrapper {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  margin-bottom: 6px;
}

.required {
  color: tomato;
}

.input-container {
  position: relative;
}

input {
  box-sizing: border-box;
  border-radius: 8px 8px 0px 0px;
  max-height: 44px;
  background-color: var(--input);
  transition: background-color 200ms ease;
  color: var(--primary);
  font-size: 14px;
  font-weight: 500;
  padding: 12px;
  width: 100%;
  border-top: 2px solid var(--border);
  border-left: none;
  border-bottom: none;
  border-right: none;
}

input:disabled {
  background-color: var(--accent);
  color: var(--ring);
}

input.has-toggle {
  padding-right: 44px;
}

input.error {
  border-color: tomato;
}

input:focus {
  outline: none;
  background-color: var(--accent);
}

.toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: var(--ring);
}

small.error {
  color: tomato;
}
