<section class="space-y-6">
  <h2>Papan Surat Peringatan</h2>

  <div class="list">
    @if (reports(); as reports) {
      @for (item of reports; track $index) {
        <div class="p-4 rounded-xl hover:bg-muted relative transition-all">
          <b>Pemanggilan Siswa ke Guru BK</b>

          <p>
            Harap segera menuju ruang BK untuk alasan
            {{ item.reason || "keperluan pendampingan" }}.
          </p>

          <div class="absolute top-2 right-2">
            <app-base-chip-status [status]="item.reportlevel" />
          </div>
        </div>
      }
    }
  </div>

  <div class="pagination">
    @if (pages(); as pages) {
      @for (page of pages; track page) {
        <app-base-button
          width="32px"
          height="32px"
          [variant]="isActive(page) ? 'contained' : 'outlined'"
          (onClick)="changePage(page)"
        >
          {{ page }}
        </app-base-button>
      }
    }
  </div>
</section>
