<section>
  <h2>Persentase Kehadiran</h2>

  @if (charts(); as records) {
    @for (record of records; track $index) {
      <div class="flex justify-between items-center">
        <div>
          <p>{{ record.subject }}</p>
          <small>{{ record.count }} Pertemuan</small>
        </div>

        <div class="relative w-20 h-20">
          <apx-chart
            [series]="record.chartOptions.series"
            [chart]="record.chartOptions.chart"
            [labels]="record.chartOptions.labels"
            [plotOptions]="record.chartOptions.plotOptions"
          >
          </apx-chart>

          <div
            class="absolute inset-0 flex items-center justify-center text-sm font-semibold"
          >
            {{ record.percentage }}%
          </div>
        </div>
      </div>
    }
  }
</section>
